/* Remove the navbar's default margin-bottom and rounded borders */ 

body{
   margin:0px;
   color:#253858;
   font-family:Merriweather;
}
.boxleft{
    width:100%;
    height: 50px;
     display: flex;
    justify-content: space-around;
}
.boxleft>a{
    font-size:12px;
    line-height:5;
}
  
h3{
    font-family:Merriweather ;
    font-weight:bolder;
   
}
h4{
    font-family:Merriweather ;
    font-weight:bolder;
}
h3>.badge{
    background-color: transparent;
    color:#E64E4E;
}
h4>.badge{
    background-color: transparent;
    color:#E64E4E;
}
.righteditos{
font-size:11px;
margin-left:30px;
text-decoration: underline;
}

section>img{  
    width:100%;
    height: 300px;
}
section>article>p{
   
    font-family:Merriweather; 
}
.well{
   
    padding:9px;
    height:auto;

}
li{
    list-style: none;
}
li>.badge{
    float:left;   
    background-color:transparent;
    color:rgba(66, 82, 110, 0.37);
    
}
li:nth-child(even){
    margin-left:50px;
}
h5{
  color:#E64E4E;
}
.smscreen{
    display:none;
}
img{
    width:100%;
    height:165px;
    margin-bottom:20px;
    margin-top:10px;
}
.photoEditos{
    width:50%;
    margin-right:10px;
    float:left;

}
.boxRight{
    display:none;
}
.glyphicon{
float:right;
margin-right:5px;
}
@media screen and (max-width: 768px) {
    .boxleft {
        display:none;
    }
    .boxRight{
        display:block;
    }
    h3 {
        margin-bottom:0px;
    }
    .righteditos{
        margin-left:10px;
       
        }
        
  }
